{% extends "base.html" %}
{% block title %}Add Comment{% endblock %}

{% block content %}

<form action="/add_comment" method="post">
  <div class="form-group">
      <label for="club_name">Enter Club Name</label>
      <input name="club_name" class="form-control" id="club_name">
  </div>
    <div class="form-group">
      <label for="description">Enter comment</label>
      <input type="description" name="description" class="form-control" id="description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}